body {
	background-image: url(../jpeg/backgroundImage.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 80%;
}

#contents {
	background-color: lightslategray;
	width: 500px;
	text-align: center;
	margin:150px 500px;
}

#welcome{
	color:black;
	text-align: left;
	margin-left: 10px;
}

#welcome-bar{
	background-color: blueviolet;
	margin: -10px;
}

#continue{
	width: auto;
	height: auto;
	position:absolute;
	right: 10px;
	bottom:10px;
}