#contents {
    background-color: lightslategray;
	width: 500px;
	margin: auto;
}

#welcome {
	color:black;
	text-align: left;
	margin-left: 10px;
}

#div-head {
	background-color: blueviolet;
	margin: -10px;
}

#hyperlink{
	text-align: center;
}

#list {
	padding-bottom: 10px;
}

h1 {
    color: coral;
    text-align: center;
}

body {
    background-image: url(../jpeg/backgroundImage.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 80%;
}