#contents {
    background-color: lightslategray;
	width: 500px;
	text-align: center;
	margin:auto;
	margin-top: 100px;
}

#welcome {
	color:black;
	text-align: left;
	margin-left: 10px;
}

#div-head {
	background-color: blueviolet;
	margin: -10px;
}

#delete-blog {
	margin-bottom: 10px;
}

h1 {
    color: coral;
    text-align: center;
}

body {
    background-image: url(../jpeg/backgroundImage.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 80%;
}

.new-blog {
	margin-left: 50px;
    width: 380px;
}

.new-blog-label {
	margin-left: 10px;
}

.menu-button {
	background-color: cyan;
	text-align: center;
	width: 400px;
	height: 60px;
}