h1 {
		color: coral;
		text-align: center;
	}

#submit {
	background-color: cyan;
	text-align: center;
	width: 100px;
	height: 50px;
}

#username-label {
	color: darkgreen;
	text-align: center;
}

#password-label {
	color: gold;
	text-align: center;
}

#repeat-password-label {
	color:mediumblue;
	text-align: center;
}

#email-label {
	color:indigo;
	margin-left: -145px;
}

#email-remain {
	margin-left: 145px;
}

#checkcode{
	width: 50px;
}

#checkcode-label{
	margin-left: 10px;
	color:black;
}

#contents {
	background-color: lightslategray;
	width: 500px;
	text-align: center;
	margin: auto;
}

#welcome{
	color:black;
	text-align: left;
	margin-left: 10px;
}

#div-head{
	background-color: blueviolet;
	margin: -10px;
}

#icon-contents {
	margin-left: 145px;
}

#icon-intro {
	text-align: left;
}

.notition {
	margin-left: 10px;
}

body {
	background-image: url(../jpeg/backgroundImage.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 80%;
}