#contents {
    background-color: lightslategray;
	width: 500px;
	margin: auto;
}

#welcome {
	color:black;
	text-align: left;
	margin-left: 10px;
}

#div-head {
	background-color: blueviolet;
	margin: -10px;
}

#summary {
    text-align: center;
}

#content {
    text-align: center;
}

#back-button {
    margin-right: 10px;
}

#update-button {
    margin-left: 10px;
}

h1 {
    color: coral;
    text-align: center;
}

body {
    background-image: url(../jpeg/backgroundImage.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 80%;
}

.new-blog {
	margin-left: 50px;
    width: 380px;
}

.new-blog-label {
	margin-left: 10px;
}

.button {
    background-color: cyan;
	text-align: center;
	width: 100px;
	height: 50px;
}

.button-div {
	text-align: center; 
}