<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Delete Blog</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.bundle.min.js"></script>
		<link rel="stylesheet" href="../static/css/deleteBlog.css" th:href="@{/css/deleteBlog.css}">
		<script href="../static/js/deleteBlog.js" th:src="@{/js/deleteBlog.js}"></script>
    </head>
    <body>
        <div id="div-head">
            <h1 id="welcome">
                YANAGI BLOG
            </h1>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light" id="search-bar">
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <a class="navbar-brand">Blog Search</a>
		    <form class="form-inline my-2 my-lg-0">
		      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
		      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		    </form>
		  </div>
		</nav>
        <div id="contents">
            <form th:action="@{/deleteBlog}" method="post">
                <h1>
                    <span>kk</span>
                </h1>
                <p id="writer">write by: <span>zz</span></p>
                <hr>
                <div id="summary">
                    <p>
                        <i><b>--<span>yy</span></b></i>
                    </p>
                </div>
                <div id="content">
                    <p>
                        <span>xx</span>
                    </p>
                    <div id="date"><p></p>dd</div>
                </div>
                <hr>
                <div id="interact">
                    <span>Like <span></span></span>
                    <span>Comment <span></span></span>
                    <span>RT <span></span></span>
                </div>
                <div id="back">
                    <input id="submit" type="submit" value="delete" class="button">
                    <a th:href="@{/deleteList}"><input id="back-button" type="button" value="back" class="button"></a>
                </div>
            </form>
        </div>
    </body>
</html>