<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Update Blog</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.bundle.min.js"></script>
		<link rel="stylesheet" href="../static/css/egoUpdateBlog.css" th:href="@{/css/egoUpdateBlog.css}">
		<script href="../static/js/egoUpdateBlog.js" th:src="@{/js/egoUpdateBlog.js}"></script>  
    </head>
    <body>
        <div id="div-head">
            <h1 id="welcome">
                YANAGI BLOG
            </h1>
        </div>
        <div id="contents">
            <form th:action="@{/egoUpdateBlog}" method="post">
                <h1>
                    UPDATE BLOG
                </h1>
                <div id="new-title">
                    <label for="blog-title" id="blog-title-label" class="new-blog-label">Title: </label>
                    <input id="blog-title" type="text" th:value="${theme}" required class="new-blog" name="theme">
                </div>
                <hr>
                <div id="new-summary">
                    <label for="blog-summary" id="blog-summary-label" class="new-blog-label">Summary: </label>
                    <input id="blog-summary" type="text" th:value="${summary}" class="new-blog" name="summary">
                </div>
                <hr>
                <div id="new-content">
                    <label for="blog-content" id="blog-content-label" class="new-blog-label">Content: </label>
                    <input id="blog-content" type="text" th:value="${content}" class="new-blog" required name="content">
                </div>
                <div id="button">
                    <input type="hidden" name="id" th:value="${id}">
                    <input id="submit" type="submit" value="update" class="button">
                    <a th:href="@{/egoPage}"><input id="back-button" type="button" value="back" class="button"></a>
                </div>
            </form>
        </div>
    </body>
</html>