<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Login</title>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">
	<script th:src="@{/js/login.js}"></script>
	<script>
		$(() => {
			$("#contents").hide();
		});
	</script>
</head>

<body>
	<div id="div-head">
		<h1 id="welcome">
			WELCOME TO YANAGI BLOG
		</h1>
	</div>
	<div id="contents">
		<form th:action="@{/login}" method="post">
			<h1>LOGIN</h1>
			<p th:if="${isInitial==false}" class="judgement">Username or password error!</p>
			<hr>
			<label for="username" id="username-label">UserName: </label>
			<input id="username" type="text" name="username" placeholder="username/Email" required>
			<br>
			<br>
			<label for="password" id="password-label">Password: </label>
			<input id="password" type="password" name="password" required placeholder="password">
			<br>
			<br>
			<input id="login-submit" type="submit" value="Login">
			<br>
			<hr>
			<p>Do not have an account yet? <a th:href="@{/register}" target="_blank"><i>Register</i></a>.</p>
			<a th:href="@{/blog}" target="_blank"><i>Login without register.</i></a>
		</form>
	</div>
	<div id="continue" onclick="$('#contents').show('slide', {direction: 'down'})">
		<h1 id="x">==> TO BE CONTINUE</h1>
	</div>
</body>

</html>