<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Yanagi Menu</title>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="../static/css/menu.css" th:href="@{/css/menu.css}">
		<script href="../static/js/menu.js" th:src="@{/js/menu.js}"></script>
    </head>
    <body>
        <div id="div-head">
            <h1 id="welcome">
                YANAGI BLOG
            </h1>
        </div>
        <div id="contents">
            <h1>
                YANAGI MENU
            </h1>
            <hr>
            <div id="search-blog">
                <input type="button" id="search-blog-button" class="menu-button" value="YANAGI BROWSE">
            </div>
            <hr>
            <div id="new-blog">
                <input type="button" id="new-blog-button" class="menu-button" value="YANAGI NEW">
            </div>
            <hr>
            <div id="update-blog">
                <input type="button" id="update-blog-button" class="menu-button" value="YANAGI CHANGE">
            </div>
            <hr>
            <div id="delete-blog">
                <input type="button" id="delete-blog-button" class="menu-button" value="YANAGI DELETE">
            </div>
            <hr>
            <div id="ego-page">
                <input type="button" id="inter-ego-page-button" class="menu-button" value="YANAGI EGO">
            </div>
            <hr>
            <div id="back">
                <input type="button" id="back-button" class="menu-button" value="YANAGI FAREWELL">
            </div>
        </div>
    </body>
</html>