<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>New Blog</title>
        <link rel="stylesheet" href="../static/css/menu.css">
        <script></script>   
    </head>
    <body>
        <div id="div-head">
            <h1 id="welcome">
                YANAGI BLOG
            </h1>
        </div>
        <div id="contents">
            <form th:action="@{/register}" method="post">
                <h1>
                    FUNCTION MENU
                </h1>
                <div id="new-title">
                    
                </div>
                <hr>
                <div id="new-summary">
                    
                </div>
                <hr>
                <div id="new-content">
                    
                </div>
            </form>
        </div>
    </body>
</html>