<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Yanagi Menu</title>
        <link rel="stylesheet" href="../static/css/menu.css">
        <script></script>   
    </head>
    <body>
        <div id="div-head">
            <h1 id="welcome">
                YANAGI BLOG
            </h1>
        </div>
        <div id="contents">
            <form th:action="@{/register}" method="post">
                <h1>
                    YANAGI MENU
                </h1>
                <hr>
                <div id="search-blog">
                    <input type="button" id="search-blog" class="menu-button" value="YANAGI BROWSE">
                </div>
                <hr>
                <div id="update-blog">
                    <input type="button" id="update-blog" class="menu-button" value="YANAGI NEW">
                </div>
                <hr>
                <div id="new-blog">
                    <input type="button" id="new-blog" class="menu-button" value="YANAGI CHANGE">
                </div>
                <hr>
                <div id="delete-blog">
                    <input type="button" id="delete-blog" class="menu-button" value="YANAGI FAREWELL">
                </div>
            </form>
        </div>
    </body>
</html>