<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Terms & Policies</title>
        <link rel="stylesheet" href="../static/css/termsAndPolicies.css" th:href="@{/css/termsAndPolicies.css}">
        <script></script>   
    </head>
    <body>
        <div id="div-head">
            <h1 id="welcome">
                YANAGI BLOG
            </h1>
        </div>
        <div id="contents">
            <form th:action="@{/register}" method="post">
                <h1>
                    TERMS & POLICIES
                </h1>
                <hr>
                <div id="content">
                    <p>
                        Yanagi Mahiro reserves all rights of final interpretation of this blog website.
                    </p>
                </div>
            </form>
        </div>
    </body>
</html>