<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Update Blog</title>
        <link rel="stylesheet" href="../static/css/updateBlogBrowse.css">
        <script></script>   
    </head>
    <body>
        <div id="div-head">
            <h1 id="welcome">
                YANAGI BLOG
            </h1>
        </div>
        <div id="contents">
            <form th:action="@{/register}" method="post">
                <h1>
                    zzz
                </h1>
                <hr>
                <div id="summary">
                    <p>
                        xxx
                    </p>
                </div>
                <div id="content">
                    <p>
                        yyy
                    </p>
                </div>
                <div id="back" class="button-div">
                    <input id="back-button" type="button" value="back" class="button">
                    <input id="update-button" type="button" value="update" class="button">
                </div>
            </form>
        </div>
    </body>
</html>